<!-- Template -->
<app-header [userImg]="userProfileImg"></app-header>

<app-banner [bannerTitle]="(bannerDetail$ | async)?.original_title" [bannerOverview]="(bannerDetail$ | async)?.overview"
    [key]="(bannerVideo$ | async)?.results?.[41]?.key">
</app-banner>

<app-movie-corousel [title]="'Popular on Netflix'" [videoContents]="movies"></app-movie-corousel>
<app-movie-corousel [title]="'Trending TV shows'" [videoContents]="tvShows"></app-movie-corousel>
<app-movie-corousel [title]="'Now Playing Movies'" [videoContents]="nowPlayingMovies"></app-movie-corousel>
<app-movie-corousel [title]="'Popular Movies'" [videoContents]="popularMovies"></app-movie-corousel>
<app-movie-corousel [title]="'Top Rated Movies'" [videoContents]="topRatedMovies"></app-movie-corousel>
<app-movie-corousel [title]="'Upcoming Movies'" [videoContents]="upcomingMovies"></app-movie-corousel>